@import 'src/scss/variables';

.header-dexa-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('#{$ASSET_BASE_PATH}/website-header-backdrops/dexa.png') no-repeat scroll center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 95vh;
}

favware-dexa-docs-table {
  width: 80%;
  margin: 2vh 0;
}
