<section>
  <div class="container header-small-image" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="0.5%">
    <div class="center-text header-full-size">
      <h1 class="mat-display-2 header-text header-text-shadow">{{ headerTile.header }}</h1>
      <h2 class="mat-h1 header-text header-text-shadow">
        <markdown>{{ headerTile.subheader }}</markdown>
      </h2>
      <p *ngFor="let button of headerTile.buttons; trackBy: ngForTrackBy" class="header-button">
        <ng-container *ngIf="button.disabled; else linkButton">
          <button [cbContent]="button.text" [color]="button.color" class="full-size-button" mat-raised-button ngxClipboard i18n>
            {{ button.text | uppercase }} <span class="copy-button-subtext">(click to copy)</span>
          </button>
        </ng-container>

        <ng-template #linkButton>
          <a [href]="button.url" [rel]="button.outer ? 'noreferrer' : ''" [target]="button.outer ? '_blank' : '_self'">
            <button [color]="button.color" class="full-size-button" mat-raised-button>{{ button.text | uppercase }}</button>
          </a>
        </ng-template>
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around" fxLayoutGap="0.5%">
    <div class="page-wide-element">
      <h1 class="mat-display-1 center-text small-section-header-margin">{{ usageTile.header }}</h1>
      <markdown [src]="usageTile.codeFile" ngPreserveWhitespaces></markdown>
    </div>
  </div>
</section>
