@import 'src/scss/variables';

.header-convertbot-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('src/assets/backdrops/convertbot.png') no-repeat fixed center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 95vh;
}

@media only screen and (max-width: 1024px) {
  .header-convertbot-image {
    background-attachment: scroll;
  }
}
