# dependencies
node_modules
package-lock.json

# misc
.DS_Store
Thumbs.db

# Build Artifacts
dist/
.next/

# Logs
logs/
coverage/
*.log*

# Firebase
.firebase/
firebase-cors.json

# IDE Settings
.idea/
.vs/