# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# Environment variables
.env

# IDE settings
.vscode/
.idea/*

# Keep some IntelliJ Settings
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/jsLibraryMappings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/ribbon.iml
!.idea/sqldialects.xml
!.idea/typescript-compiler.xml
!.idea/vcs.xml

# misc
*.log
*.stackdump
.firebase/
firebase-cors.json

# System Files
.DS_Store
Thumbs.db
