<section>
  <div class="container header-small-image" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
       fxLayoutGap="0.5%">
    <div class="center-text">
      <h1 class="mat-display-2 header-text header-text-shadow">{{headerTile.header}}</h1>
      <h2 class="mat-h1 header-text header-text-shadow">{{headerTile.subheader}}</h2>
      <p *ngFor="let button of headerTile.buttons" class="header-button">
        <ng-container *ngIf="button.disabled; else linkButton">
          <button [color]="button.color" class="full-size-button" mat-raised-button
            ngxClipboard [cbContent]="button.text">{{button.text + " (click to copy)" | uppercase}}</button>
        </ng-container>

        <ng-template #linkButton>
          <a [href]="button.url" [rel]="button.outer ? 'noreferrer' : ''" [target]="button.outer ? '_blank' : '_self'">
            <button [color]="button.color" class="full-size-button"
              mat-raised-button>{{button.text | uppercase}}</button>
          </a>
        </ng-template>
      </p>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">
    <div class="page-wide-element">
      <h1 class="mat-display-1 center-text">{{stringifyUsageTile.header}}</h1>
      <markdown [src]="stringifyUsageTile.codeFile" ngPreserveWhitespaces></markdown>
    </div>
  </div>

  <div class="section-margin" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">
    <div class="page-wide-element">
      <h1 class="mat-display-1 center-text">{{parseUsageTile.header}}</h1>
      <markdown [src]="parseUsageTile.codeFile" ngPreserveWhitespaces></markdown>
    </div>
  </div>

</section>
