@import '../../scss/variables';

.header-ribbon-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/backdrops/ribbon.png') no-repeat fixed center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 95vh;
}

favware-ribbon-docs-table {
  width: 80%;
  margin: 2vh 0;
}

#loadingSpinner {
  text-align: center;
  margin: 0 10px;
}

.card {
  &-widener {
    width: 25vw;
  }
  &-content { 
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .header-ribbon-image {
    background-attachment: scroll;
  }

  favware-ribbon-docs-table {
    width: 80%;
    margin: 2vh auto;
  }

  .card {
    &-widener {
      width: 100vw;
    }
  }
}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
  .card {
    &-widener {
      display: flex;
      justify-content: center;
    }
  }
  .material-card {
    width: 80vw;
    min-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (width: 1024px) {
  .card {
    &-widener {
      display: flex;
      justify-content: center;
    }
  }
  .material-card {
    width: 60vw;
    min-width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}