@import 'src/scss/variables';

.header-ribbon-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('#{$ASSET_BASE_PATH}/website-header-backdrops/ribbon.png') no-repeat fixed center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 95vh;
}

favware-ribbon-docs-table {
  width: 80%;
  margin: 2vh 0;
}

@media only screen and (max-width: 1024px) {
  .header-ribbon-image {
    background-attachment: scroll;
  }

  favware-ribbon-docs-table {
    width: 80%;
    margin: 2vh auto;
  }
}
