<section>
  <div class="container header-dexa-image" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
       fxLayoutGap="0.5%">
    <div class="center-text">
      <h1 class="mat-display-2 header-text header-text-shadow">{{headerTile.header}}</h1>
      <h2 class="mat-h1 header-text header-text-shadow">{{headerTile.subheader}}</h2>
      <p *ngFor="let button of headerTile.buttons; trackBy: ngForTrackBy" class="header-button">
        <a [href]="button.url" [rel]="button.outer ? 'noreferrer' : ''" [target]="button.outer ? '_blank' : '_self'">
          <button [color]="button.color" class="full-size-button"
                  mat-raised-button>{{button.text | uppercase}}</button>
        </a>
      </p>
    </div>
  </div>

  <div class="section-margin" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">
    <div>
      <h1 class="mat-display-1 center-text">{{aboutTile.header}}</h1>
      <p *ngFor="let section of aboutTile.text; trackBy: ngForTrackBy" [innerHTML]="section | markdown"
         class="mat-h4 text-content about-text" fxFlexAlign="stretch"></p>
    </div>
  </div>

  <div class="section-margin" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">
    <favware-dexa-docs-table></favware-dexa-docs-table>
  </div>

</section>
