<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
  <div *ngIf="documents | async as document">
    <div *ngFor="let node of document">
      <p class="card-paragraph">
          <mat-card class="material-card card">
            <mat-card-header>
              <mat-card-title>{{ node.header }}</mat-card-title>
              <mat-card-subtitle>{{sinceLabel}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class='card-content'>
              <ng-container *ngIf="isDoneLoading; else loadingSpinner">
                <mat-chip-list>
                  <mat-chip color="accent" selected>{{ node.value }}</mat-chip>
                </mat-chip-list>
              </ng-container>
      
              <ng-template #loadingSpinner>
                  <mat-progress-spinner color="warn" mode="indeterminate" diameter="75"></mat-progress-spinner>
              </ng-template>
            </mat-card-content>
          </mat-card>
        </p>
    </div>
  </div>
</div>