<div class="mat-elevation-z8">

  <mat-form-field>
    <input #filter [errorStateMatcher]="matcher" [formControl]="searchFormControl" matInput placeholder="Search..."
           type="text"/>
    <mat-error *ngIf="searchFormControl.hasError('pattern')" i18n>Filtering with numbers is not recommended</mat-error>
    <button (click)="clearFilter()" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon i18n>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-table [dataSource]="dataSource" aria-label="Elements" class="full-width-table" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Utterances</mat-header-cell>
      <mat-cell *matCellDef="let row" class="cell-padding">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Description</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="examples">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n>Example(s)</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.examples}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="definitionColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: definitionColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSizeOptions]="[5, 10, 15]"
                 [pageSize]="5">
  </mat-paginator>
</div>
