<section>
  <div class="container header-convertbot-image" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
       fxLayoutGap="0.5%">
    <div class="center-text">
      <h1 class="mat-display-2 header-text header-text-shadow">{{headerTile.header}}</h1>
      <h2 class="mat-h1 header-text header-text-shadow">{{headerTile.subheader}}</h2>
      <p *ngFor="let button of headerTile.buttons" class="header-button">
        <a [href]="button.url" [target]="button.outer ? '_blank' : '_self'" [rel]="button.outer ? 'noreferrer' : ''">
          <button [color]="button.color" class="full-size-button"
                  mat-raised-button>{{button.text | uppercase}}</button>
        </a>
      </p>
    </div>
  </div>

  <div class="section-margin" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">
    <div>
      <h1 class="mat-display-1 center-text">{{aboutTile.header}}</h1>
      <p *ngFor="let section of aboutTile.text" [innerHTML]="section | markdown"
         class="mat-h4 text-content about-text" fxFlexAlign="stretch"></p>
    </div>
  </div>

  <div class="section-margin" fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">
    <div>
      <h1 class="mat-display-1 text-content">{{notesTile.header}}</h1>
      <h2 class="mat-h2 text-content">{{notesTile.subheader}}</h2>
      <p *ngFor="let section of notesTile.text" [innerHTML]="section | markdown"
         class="mat-h4 text-content about-text" fxFlexAlign="stretch"></p>
    </div>
  </div>

  <div class="section-margin last-section" fxFlexFill fxLayout="row" fxLayout.xs="row"
       fxLayoutAlign="center space-around"
       fxLayoutGap="0.5%">

    <div fxFlex="70" fxFlex.xs="80">
      <mat-carousel
        [autoplay]="carousel.autoplay"
        [color]="carousel.color"
        [hideArrows]="carousel.hideArrows"
        [hideIndicators]="carousel.hideIndicators"
        [interval]="carousel.interval"
        [loop]="carousel.loop"
        [maxWidth]="carousel.maxWidth"
        [orientation]="carousel.orientation"
        [proportion]="carousel.proportion"
        [slides]="carousel.slides"
        [timings]="carousel.timings"
        [useKeyboard]="carousel.useKeyboard"
        [useMouseWheel]="carousel.useMouseWheel"
      >
        <mat-carousel-slide
          *ngFor="let slide of slides"
          [hideOverlay]="carousel.hideOverlay"
          [image]="slide.url"
          [overlayColor]="carousel.overlayColor"></mat-carousel-slide>
      </mat-carousel>
    </div>
  </div>
</section>
