<div [class.is-mobile]="isSmall" class="container">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <button (click)="drawer.toggle()" aria-label="Toggle sidenav" mat-icon-button type="button">
        <mat-icon aria-label="Side nav toggle icon" i18n>menu</mat-icon>
      </button>
      <h1 class="app-name" i18n>Favware</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="isSmall ? 56 : 0" class="sidenav-container">
    <mat-sidenav #drawer [fixedInViewport]="isFixedInViewport" [mode]="sidenavMode" [opened]="isSidenavOpen"
      fixedTopGap="56" role="navigation" [autoFocus]="true">
      <mat-nav-list>
        <p (click)="drawer.toggle()" *ngFor="let item of items; trackBy: ngForTrackBy">
          <a [routerLink]="item.routerLink" mat-list-item>
            <img [alt]="item.label + 'logo'" [src]="item.image" class="sidenav-item-image" />
            {{item.label | titlecase }}
          </a>
        </p>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
