@import '../../scss/variables';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;

  > .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(23, 23, 23, 0.89);
  }
}

.mat-drawer {
  background-color: $darkish-grey !important;
}

.mat-list-item {
  color: $white;
}

.sidenav-item-image {
  width: 1.8rem;
  padding-right: 1rem;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav-spacer {
  flex: 1 1 auto;
}

.link-button:visited {
  color: white;
}

.link-button:link {
  color: white;
}

.link-button svg {
  color: green;
  fill: rgba(0, 0, 0, 0);
}

:host(.mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown) {
  background-color: rgba(23, 23, 23, 0.89);
}

:host-context(.mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown) {
  background-color: rgba(23, 23, 23, 0.89);
}

:host(.sidenav-container > .mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown) {
  background-color: rgba(23, 23, 23, 0.89);
}

:host-context(.sidenav-container > .mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown) {
  background-color: rgba(23, 23, 23, 0.89);
}
