// Font Data
$fonts: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$coding_fonts: 'Fira Code', 'monospace', 'Consolas';

// Colors
$white: #ffffff;
$black: #000000;
$github-black: #191919;
$mail-greyish: #787878;
$discord-blurple: #7289da;
$facebook-blue: #3d5a98;
$linkedin-blue: #007bb5;
$reddit-orange: #ff4500;
$twitch-purple: #6441a4;
$twitter-blue: #1da1f3;
$youtube-red: #ff0000;
$yarn-blue: #2c8ebb;
$playground-pink: #e1188c;

$light-grey: #292c2f;
$darkish-grey: #25282c;
$primary-color: #009688;
$secondary-color: #424242;
$visited-purple: #005446;
