// Font Data
$fonts: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// Colors
$white: #FFFFFF;
$black: #000000;
$github-black: #191919;
$mail-greyish: #787878;
$discord-blurple: #7289DA;
$facebook-blue: #3D5A98;
$linkedin-blue: #007BB5;
$reddit-orange: #FF4500;
$twitch-purple: #6441A4;
$twitter-blue: #1DA1F3;
$youtube-red: #FF0000;

$light-grey: #292C2F;
$darkish-grey: #25282C;
$primary-color: #009688;
$secondary-color: #424242;
$visited-purple: #005446;

// Constants
$ASSET_BASE_PATH: 'https://storage.googleapis.com/data-sunlight-146313.appspot.com';