@import './variables';
@import './breakpoints';

.mat-github {
  background-color: $github-black;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($github-black, 5%) !important;
  }
}

.mat-yarn {
  background-color: $yarn-blue;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($yarn-blue, 5%) !important;
  }
}

.mat-mail {
  background-color: $mail-greyish;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($mail-greyish, 5%) !important;
  }
}

.mat-discord {
  background-color: $discord-blurple;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($discord-blurple, 5%) !important;
  }
}

.mat-facebook {
  background-color: $facebook-blue;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($facebook-blue, 5%) !important;
  }
}

.mat-linkedin {
  background-color: $linkedin-blue;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($linkedin-blue, 5%) !important;
  }
}

.mat-reddit {
  background-color: $reddit-orange;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($reddit-orange, 5%) !important;
  }
}

.mat-twitch {
  background-color: $twitch-purple;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($twitch-purple, 5%) !important;
  }
}

.mat-twitter {
  background-color: $twitter-blue;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($twitter-blue, 5%) !important;
  }
}

.mat-youtube {
  background-color: $youtube-red;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($youtube-red, 5%) !important;
  }
}

.mat-playground {
  background-color: $playground-pink;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($playground-pink, 5%) !important;
  }
}

.full-size-button {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;

  &.mat-primary {
    &:hover,
    &:focus,
    &:active {
      background-color: lighten($primary-color, 5%) !important;
    }
  }

  &.mat-secondary {
    &:hover,
    &:focus,
    &:active {
      background-color: lighten($secondary-color, 5%) !important;
    }
  }

  &.mat-disabled {
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(255, 255, 255, 0.12) !important;
    }
  }
}

.contact-size-button {
  width: 40%;
  margin-left: 1rem !important;
}

.mat-fab .mat-button-wrapper {
  padding: 0 !important;
}

.mat-fab:not([class*='mat-elevation-z']) {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.header-full-size {
  width: 70vw;

  @include sm {
    width: 100%;
  }
}
