.container {
  min-height: 30vh;
}

.section-margin {
  margin-top: 5%;
}

.last-section {
  margin-bottom: 5%;
}

.page-wide-element {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.small-section-header-margin {
  margin-bottom: 0.83em;
}

@media only screen and (min-width: 600px) {
  .project-card-layout {
    min-height: 60vh;
  }
}

@media only screen and (max-width: 1024px) {
  .text-content, .header-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .full-size-button {
    width: 90%;
  }

  .contact-size-button {
    width: 75%;
  }

  code[class*="language-"], pre[class*="language-"] {
    padding: 1em !important;
    margin: 1em !important;
  }
}

@media only screen and (min-width: 601px) {
  .text-content, .header-content {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .header-small-image {
    height: 95vh;
  }

  code[class*="language-"], pre[class*="language-"] {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .header-small-image {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 758px) and (orientation: portrait) {
  .header-small-image {
    margin: 3rem 0;
    font-size: smaller;
  }

  .header-text {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .subheader {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}
