.container {
  min-height: 30vh;
}

.section-margin {
  margin-top: 5%;
}

.last-section {
  margin-bottom: 5%;
}

.page-wide-element {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.small-section-header-margin {
  margin-bottom: 0.83em;
}

@media only screen and (max-width: 1024px) {
  .text-content, .header-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .full-size-button {
    width: 90%;
  }

  .contact-size-button {
    width: 75%;
  }
}

@media only screen and (min-width: 601px) {
  .text-content, .header-content {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .header-small-image {
    height: 95vh;
  }

  code[class*="language-"], pre[class*="language-"] {
    font-size: 0.5rem;
  }
}