* {
  font-family: $fonts;
  font-display: swap;
}

a {
  text-decoration: none;

  &:link {
    color: $primary-color;

    &:hover {
      color: lighten($primary-color, 5%);
    }
  }

  &:visited {
    color: lighten($visited-purple, 5%);

    &:hover {
      color: lighten($visited-purple, 10%);
    }
  }
}

.center-text {
  text-align: center;
}

.header-text {
  font-size: 2rem;
  margin: 0;
}

.header-text-shadow {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.about-text {
  font-size: 1.3rem;
  line-height: 1.4;
}

strong {
  font-weight: bolder !important;
}

pre, code, .token {
  font-family: $coding_fonts !important;
}
