@import '../../scss/variables';

.header-tava-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/backdrops/tava.png') no-repeat fixed center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 95vh;
}

.tava {
  &-icon {
    height: auto;
    width: 10vh;
  }

  &-about-section {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  &-smallmargin-header {
    margin: 0.83em 0;
  }

  &-smallpadding-inset {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  &-media-image {
    max-width: 100%;
    height: auto;
  }

  &-team-image {
    max-width: 15vw;
    height: auto;
    border-radius: 50% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .header-tava-image {
    background-attachment: scroll;
  }

  .tava {
    &-team-image {
      max-width: 60%;
    }
  }
}
